*{
    margin: 0;
    padding: 0;
}
.hero{
    background-image: url(../images/cow_main.jpg);
background-size: cover;
background-position: bottom center;
height: 100vh;

}
.hero h1{
    color:azure;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    /* margin-top: 60px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 60px;
}